/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";

* {
  /* font-family: "Montserrat"; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

::moz-selection {
  color: white;
  background-color: var(--secondary-color);
}
::selection {
  color: white;
  background-color: var(--secondary-color);
}
img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.required {
  color: var(--primary-color);
}

.bg-sober {
  background-color: #212529;
  color: #fff;
}
.bg-sober-alt {
  background-color: #2e3858;
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}

.title-primary-flat {
  text-decoration: underline solid 5px var(--primary-color);
}
.title-secondary-flat {
  text-decoration: underline solid 5px var(--secondary-color);
}
.title-primary-sm-flat {
  text-decoration: underline solid 3px var(--primary-color);
}
.title-secondary-sm-flat {
  text-decoration: underline solid 3px var(--secondary-color);
}
// TODO cambiar color por variable
.title-primary-sober {
  color: #4daaf2;
}

.primary-underline-h {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 0;
    border-radius: 1rem;
    transition: width 0.35s ease;
  }
  &:hover::after {
    width: 100%;
  }
}
.primary-sober-b {
  transition: all 0.35s ease;
  &:hover {
    // TODO cambiar color por variable
    background-color: #4daaf2;
    background-color: #24c4a3;
    color: #212529;
  }
}

.primary-button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.2rem 0.5rem;
  transition: all 0.35s ease;
  &:hover {
    opacity: 0.8;
  }
}
.secondary-button {
  background-color: var(--secondary-color);
  padding: 0.2rem 0.5rem;
  transition: all 0.35s ease;
  &:hover {
    opacity: 0.8;
  }
}
// TODO cambiar color por variable
.primary-button-sober {
  background-color: #24c4a3;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  transition: all 0.35s ease;
  &:hover {
    opacity: 0.8;
  }
}
.secondary-button-sober {
  background-color: var(--secondary-color);
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  transition: all 0.35s ease;
  &:hover {
    opacity: 0.8;
  }
}

.color-white {
  color: white;
}

.fade-in {
  animation: section-fade-in 0.35s ease;
}

@keyframes section-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: section-fade-out 0.35s ease;
}

@keyframes section-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.border-debug {
  border: 1px solid black;
}
